*, html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.fContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(100, 100, 100);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px; 
  background-color: rgb(39, 39, 39);
  box-shadow: 0 7px 15px 0 black;
}



.brand {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  text-transform: capitalize ;
}

.firstname {
  color: blueviolet;
  font-weight: 800;
  
}

.lastname {
  color: aliceblue;
  padding-left: 4px;
}

.navigation {
  
  display: flex;
  justify-content: center;
  text-align: center;
}

.navigation li {
  list-style-type: none;
  padding: 10px;
}

.navigation li>a {
  color: white;
  font-size: 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation li>a:hover {
  background-color: blueviolet;
  transition: all .5s ease;
  padding: 10px;
}

.active {
  background-color: blueviolet;
  transition: 0.5s ease-out;
  color: white;
  padding: 11px;
}

.background-image {
  background-image: url("images/xcbersama2.jpg"); 
  position: relative;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.image-overlay {
  width: 100%;
  height: 100vh;

  background-color: rgba(90, 90, 126, 0.507);
}
@keyframes keatas {
    0% {
    transform: translate(-50%, 0%); 
    opacity: 0;
  }
    100% {
    transform: translate(-50%, -50); 
    opacity: 1;
}
}

.fContainer img {
  position: absolute;
  justify-content: center;
  top: 60%;
  left: 50%;
  text-align: center;
  border-radius: 50%;
  width: 450px;
  height: 450px;
  z-index: 2;
  transform: translate(-50%, -50%);
  box-shadow: 10px; 
  animation-name: keatas;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;

}



.Container video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1 ;
}

@media(min-aspect-ratio: 16/9){
  .Container video {
    width: 100%;
    height: auto;
  }
}

.loader {
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  z-index: 3;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: blueviolet;
  z-index: 3;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from { transform: rotate(0turn)}
  to { transform: rotate(1turn);}
}


